.gradle
bin
Reports
Libs
output
!output/.gitkeep
build
.classpath
.project
.cache


Drivers/

# exclude the working store and store-backup directory
store/
store-backup/
# but include the demonstration
!docs/demo/store/
!docs/demo/store-backup/

build/
